<!DOCTYPE html>
<html lang="en">
{{> header }}
<body>

    {{> navbar }}

    <div class="container-fluid">
        <h1>Profile</h1>
         
    <img src="/images/img_1.jpg"width="300px" id="img">
        <h3>NAME :{{user.UNAME}} </h3>
        <h4>EMAIL : {{user.EMAIL}}</h4>
    
    </div>
    
    
</body>
</html>